html {
  font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #faebd7;
  }

nav {
  text-align: center;
  margin: 20px 10px;
  background-color:tan;
border-radius: 10px;
}
img {
display:block;
margin:0 auto;
}

nav ul {
list-style-type: none;
padding:0;
}

nav li {
  display: inline-block;
}

nav li a {
display: block;
font-size: 24px;
font-weight: bold;
text-decoration: none;
margin: 0 20px;
width: 125px;
height: 25px;
}

#container {
padding: 10px;
}

#banner {
border-style: solid;
}

.header1 {
  border-style: solid;
}
.header2 {
text-align: center;
}

.footer1 {
  border-style:solid;
}
hr 
{
padding: 10px;
}
section {
  float: left;
  width: 50%
}

aside {
  float:right;
  width: 50%;

}