/*Global Styles*/


body {
  background-color: #faebd7;
  background-image: url('Pictures/erdl.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}
main {
  background-color: #faebd7;}
img {
  display:block; 
  margin: 0 auto;
  width: 85%;
  height: auto;
}


html {
  font-family: 'Courier New', Courier, monospace;
}

#container {
background-color: tan;
border-radius: 10px;
padding: 10px;
width: 75%;
margin: 20px auto;
}




/* Mobile Styles */

@media (min-width: 320px) {
  nav { background-color: tan;
  padding: 5px;
margin-top: 10px;
text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
} 

nav li {
display: block;
}

nav li a {
  display: block;
  height: 30px;
  color:black;
  font-size: 24px;
  text-decoration: none;
  margin-top: 5px; 
}
main {
  padding: 20px;
  }

  h1, h2, h3 {
    text-align: center;
      }
      
footer {
  text-align: center;
  padding: 40px;
}
}

/* Tablet Styles */

@media (min-width: 768px) {
  nav li {
    display: inline-block;
  }
  nav li a {
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
  }
}

/*Desktop Styles*/

@media (min-width: 1024px) {
  nav { 
padding: 0;
border-radius: 10px;

  }
  hr {
    display: none;
  }
}

#multi_col {
  display: flex;
}

.col {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
}